<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
	<typeAliases>
		<typeAlias alias="Client" type="org.fao.fi.refpub.dao.objects.MainCategories"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<!-- <property name="url" value="jdbc:oracle:thin:@hqlproracle01.hq.un.fao.org:1552:FISV"/>
				<property name="username" value="FIGIS_RO"/>
				<property name="password" value="cal1m3ra"/> -->
				
				<property name="url" value="jdbc:oracle:thin:@192.168.1.48:1521:XE"/>
				<property name="username" value="refpub"/>
				<property name="password" value="2cx0mbs"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/fao/fi/mybatis/mappers/mybatis-mapper.xml"/>
		<!-- <mapper url="file:///opt/refpub/conf/mybatis/mybatis-mapper.xml"/> -->
	</mappers>
</configuration>