<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fao.fi.refpub.persistence.PersistenceServiceInterface">
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDConcept" id="ConceptResult">
		<result property="id" column="ID"/>
		<result property="table_name" column="TABLE_NAME"/>
		<result property="table_group" column="GROUP_TABLE"/>
		<result property="table_group_alternate" column="ALTERNATE_GROUP_TABLE"/>
		<result property="rest_concept" column="REST_CONCEPT"/>
		<result property="meta_id" column="META_ID"/>
		<result property="meta_column" column="META_COLUMN"/>
		<result property="table_group_column" column="GROUP_GROUP"/>
		<result property="table_group_member" column="GROUP_MEMBER"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDCodelist" id="CodelistResult">
		<result property="id" column="ID"/>
		<result property="table_name" column="TABLE_NAME"/>
		<result property="code_column" column="CODE_COLUMN"/>
		<result property="code_name" column="CODE_NAME"/>
		<result property="rest_concept" column="REST_CONCEPT"/>
		<result property="isDefault" column="IS_RESOURCEURL"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDGrouping" id="GroupingRefResult">
		<result property="id" column="ID"/>
		<result property="conceptId" column="CONCEPT_ID"/>
		<result property="name_e" column="NAME_E"/>
		<result property="name_f" column="NAME_F"/>
		<result property="name_r" column="NAME_R"/>
		<result property="name_s" column="NAME_S"/>
		<result property="name_a" column="NAME_A"/>
		<result property="name_c" column="NAME_C"/>
		<result property="short_description" column="SHORT_DESC"/>
		<result property="filter" column="FILTER"/>
		<result property="filter_meta" column="FILTER_META"/>
		<result property="hierarchy" column="HIERARCHY"/>
		<result property="meta" column="META"/>
		<result property="item_table" column="ITEM_TABLE"/>
		<result property="group_table" column="GROUP_TABLE"/>
		<result property="hierarchy_item_table" column="HIERARCHY_ITEM_TABLE"/>
		<result property="hierarchy_group_table" column="HIERARCHY_GROUP_TABLE"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.TableReference" id="TableRefResult">
		<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="primaryKey" column="PRIMARY_KEY"/>
		<result property="metaColumn" column="META_COLUMN"/>
		<result property="groupColumn" column="GROUP_COLUMN"/>
		<result property="memberColumn" column="MEMBER_COLUMN"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDGroupingDepth" id="GroupDepthResult">
		<result property="hierarchy" column="CD_HIERARCHY"/>
		<result property="depth" column="META_DEPTH"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.ClassInitXML" id="ClassInitResults">
		<result property="ref_table" column="REF_TABLE"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.db.TableInfo" id="TableInfoResults">
		<result property="table_name" column="TABLE_NAME"/>
		<result property="primary_key" column="COLUMN_NAME"/>
		<result property="position" column="POSITION"/>
		<result property="status" column="STATUS"/>
		<result property="owner" column="OWNER"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.GenericType" id="TableColumnResults">
		<result property="key" column="ATTRIBUTE"/>
		<result property="value" column="COLUMN_NAME"/>
	</resultMap>
		
	<select id="getGroups" resultMap="GroupingRefResult">
		<!-- SELECT * FROM MD_REFPUB_GROUPINGS WHERE REST_CONCEPT=#{concept} -->
		SELECT * FROM ${db_schema}.MD_REFPUB_GROUPING WHERE CONCEPT_ID=#{conceptId}
	</select>
	
	<select id="getGroupByFilter" resultMap="GroupingRefResult">
		SELECT * FROM ${db_schema}.MD_REFPUB_GROUPING WHERE FILTER=#{filter}
	</select>
	
	<select id="getGroupByDescription" resultMap="GroupingRefResult">
		SELECT * FROM ${db_schema}.MD_REFPUB_GROUPING WHERE SHORT_DESC=#{short_description}
	</select>
	
	<select id="getConcepts" resultMap="ConceptResult">
		SELECT * FROM ${db_schema}.MD_CONCEPT
	</select>
	<select id="getConcept" resultMap="ConceptResult">
		SELECT * FROM ${db_schema}.MD_CONCEPT WHERE REST_CONCEPT=#{concept}
	</select>
	
	<select id="getCodelistForConcept" resultMap="CodelistResult">
		SELECT * FROM ${db_schema}.MD_CODELIST WHERE REST_CONCEPT=#{concept}
	</select>
	
	<select id="getDefaultCodelistFromConcept" resultMap="CodelistResult">
		SELECT * FROM ${db_schema}.MD_CODELIST WHERE REST_CONCEPT=#{concept} AND IS_RESOURCEURL=1
	</select>
	
	<select id="getCodeList_list" resultMap="CodelistResult">
		SELECT * FROM ${db_schema}.MD_CODELIST
	</select>
	
	<select id="getTableReferenceByName" resultMap="TableRefResult">
		SELECT * FROM ${db_schema}.MD_REFPUB_TABLEREF WHERE NAME=#{name}
	</select>
	
	<select id="getTableReferenceById" resultMap="TableRefResult">
		SELECT * FROM ${db_schema}.MD_REFPUB_TABLEREF WHERE ID=#{id}
	</select>
	
	<select id="getGroupDepth" resultMap="GroupDepthResult">
		SELECT * FROM ${db_schema}.MD_REFPUB_HIERARCHY_DEPTH WHERE CD_HIERARCHY=#{hierarchy}
	</select>
	
	<select id="getCodeList_listByConcept" parameterType="string" resultMap="CodelistResult">
		SELECT * FROM ${db_schema}.MD_CODELIST WHERE REST_CONCEPT=#{concept}
	</select>
	
	<select id="getCodeList" parameterType="map" resultMap="CodelistResult">
		SELECT * FROM ${db_schema}.MD_CODELIST WHERE REST_CONCEPT=#{concept} AND CODE_NAME=#{codelistname}
	</select>

</mapper>