<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fao.fi.refpub.persistence.PersistenceServiceInterface">
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDConcept" id="ConceptResult">
		<result property="table_name" column="TABLE_NAME"/>
		<result property="table_group" column="GROUP_TABLE"/>
		<result property="rest_concept" column="REST_CONCEPT"/>
		<result property="fic_meta" column="FIC_META"/>
		<result property="table_group_column" column="GROUP_GROUP"/>
		<result property="table_group_member" column="GROUP_MEMBER"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.MDCodelist" id="CodelistResult">
		<result property="table_name" column="TABLE_NAME"/>
		<result property="code_column" column="CODE_COLUMN"/>
		<result property="code_name" column="CODE_NAME"/>
		<result property="rest_concept" column="REST_CONCEPT"/>
		<result property="isDefault" column="IS_RESOURCEURL"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.RefPubObject" id="ObjectResults">
		<id property="id" column="FIC_ITEM"/>
		<result property="primary_key_id" column="PKID"/>
		<result property="fic_sys_item" column="FIC_SYS_ITEM"/>
		<result property="fic_item" column="FIC_ITEM"/>
		<result property="name_e" column="NAME_E"/>
		<result property="long_name_e" column="LONG_NAME_E"/>
		<result property="full_name_e" column="FULL_NAME_E"/>
		<result property="name_f" column="NAME_F"/>
		<result property="long_name_f" column="LONG_NAME_F"/>
		<result property="full_name_f" column="FULL_NAME_F"/>
		<result property="name_s" column="NAME_S"/>
		<result property="long_name_s" column="LONG_NAME_S"/>
		<result property="full_name_s" column="FULL_NAME_S"/>
		<result property="unit" column="UNIT"/>
		<result property="scientific_name" column="SCIENTIFIC_NAME"/>
		<result property="alpha3code" column="ALPHA3CODE"/>
		<result property="meta" column="META"/>
		<result property="entry_status" column="ENTRY_STATUS"/>
		<result property="faomap_layer_id" column="FAOMAP_LAYER_ID"/>
		<result property="author" column="AUTHOR"/>
		<result property="name_a" column="NAME_A"/>
		<result property="name_c" column="NAME_C"/>
		<result property="name_r" column="NAME_R"/>
		<result property="long_name_a" column="LONG_NAME_A"/>
		<result property="long_name_c" column="LONG_NAME_C"/>
		<result property="long_name_r" column="LONG_NAME_R"/>
		<result property="full_name_a" column="FULL_NAME_A"/>
		<result property="full_name_c" column="FULL_NAME_C"/>
		<result property="full_name_r" column="FULL_NAME_R"/>
		<result property="official_name_e" column="OFFICIAL_NAME_E"/>
		<result property="official_name_f" column="OFFICIAL_NAME_F"/>
		<result property="official_name_r" column="OFFICIAL_NAME_R"/>
		<result property="official_name_s" column="OFFICIAL_NAME_S"/>
		<result property="official_name_a" column="OFFICIAL_NAME_A"/>
		<result property="official_name_c" column="OFFICIAL_NAME_C"/>
		<result property="area" column="AREA"/>
		<result property="un_code" column="UN_CODE"/>
		<result property="undp_code" column="UNDP_CODE"/>
		<result property="iso_2_code" column="ISO_2_CODE"/>
		<result property="iso_3_code" column="ISO_3_CODE"/>
		<result property="min_long" column="MIN_LONG"/>
		<result property="max_long" column="MAX_LONG"/>
		<result property="min_lat" column="MIN_LAT"/>
		<result property="max_lat" column="MAX_LAT"/>
		<result property="area_size" column="AREA_SIZE"/>
		<result property="group_name" column="GROUP_NAME"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.ClassInitXML" id="ClassInitResults">
		<result property="ref_table" column="REF_TABLE"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.db.TableInfo" id="TableInfoResults">
		<result property="table_name" column="TABLE_NAME"/>
		<result property="primary_key" column="COLUMN_NAME"/>
		<result property="position" column="POSITION"/>
		<result property="status" column="STATUS"/>
		<result property="owner" column="OWNER"/>
	</resultMap>
	
	<resultMap type="org.fao.fi.refpub.dao.objects.chunks.GenericType" id="TableColumnResults">
		<result property="key" column="ATTRIBUTE"/>
		<result property="value" column="COLUMN_NAME"/>
	</resultMap>
		
	<select id="getConcepts" resultMap="ConceptResult">
		SELECT * FROM FIGIS.MD_CONCEPT
	</select>
	<select id="getConcept" resultMap="ConceptResult">
		SELECT * FROM FIGIS.MD_CONCEPT WHERE REST_CONCEPT=#{concept}
	</select>
	<select id="getCodeList" parameterType="map" resultMap="CodelistResult">
		SELECT * FROM FIGIS.MD_CODELIST WHERE REST_CONCEPT=#{concept} AND CODE_NAME=#{codelistname}
	</select>
	
	<select id="getCodeList_list" resultMap="CodelistResult">
		SELECT * FROM FIGIS.MD_CODELIST
	</select>
	
	<select id="getCodeList_listByConcept" parameterType="string" resultMap="CodelistResult">
		SELECT * FROM FIGIS.MD_CODELIST WHERE REST_CONCEPT=#{concept}
	</select>
	
	<select id="getObject" parameterType="map" resultMap="ObjectResults">
		<!-- SELECT * FROM FIGIS.MD_CODELIST WHERE REST_CONCEPT=#{concept} -->
		SELECT ${table}.*, ${main_id} AS PKID FROM ${table} WHERE ${column}=#{codelist}
	</select>
	<select id="getObjects" parameterType="map" resultMap="ObjectResults">
		<![CDATA[ SELECT * FROM (SELECT ${table}.*, ${main_id} AS PKID FROM ${table} WHERE META=#{meta}) WHERE ROWNUM <= 100 ]]>
	</select>
	
	<select id="getObjectsByCodeList" parameterType="map" resultMap="ObjectResults">
		<!-- SELECT * FROM FIGIS.MD_CODELIST WHERE REST_CONCEPT=#{concept} -->
		<![CDATA[ SELECT * FROM (SELECT ${table}.*, ${main_id} AS PKID FROM ${table} WHERE ${column} IS NOT NULL) WHERE ROWNUM <= 100 ]]>
	</select>
	
	<select id="getCodelistForConcept" resultMap="CodelistResult">
		SELECT * FROM FIGIS.MD_CODELIST WHERE REST_CONCEPT=#{concept}
	</select>
	
	<select id="getRefTable" parameterType="int" resultMap="ClassInitResults">
		SELECT regexp_substr(INIT_XML,'(^|\\s)Table=([^;]+)') as REF_TABLE FROM FIGIS.MD_CLASSINIT WHERE ID=#{id}
	</select>
	
	<select id="getParentHierarchy" parameterType="map" resultMap="ObjectResults">
		SELECT 
			A.*, B.NAME_E AS GROUP_NAME
		FROM 
			${table} A, FIGIS.MD_REFOBJECT B
		WHERE 
			${primary_key} IN 
				(SELECT ${group_column_key} FROM ${group_table} WHERE ${group_column} = #{id}) 
			AND A.META = B.ID
	</select>
	
	
	<!-- General Util Queries -->
	<select id="getTableInfo" parameterType="map" resultMap="TableInfoResults">
		SELECT 
			cols.TABLE_NAME, cols.COLUMN_NAME, cols.POSITION, cons.STATUS, cons.OWNER
		FROM 
			all_constraints cons, all_cons_columns cols
		WHERE 
			cols.table_name = #{table} AND 
			cons.constraint_type = 'P' AND 
			cons.constraint_name = cols.constraint_name AND 
			cons.owner = cols.owner
		ORDER BY 
			cols.table_name, cols.position
	</select>
	<select id="getTableColumns" parameterType="map" resultMap="TableColumnResults">
		SELECT 'attribute' AS ATTRIBUTE, column_name AS COLUMN_NAME from all_tab_columns where table_name=#{table}
	</select>
</mapper>